# Disable Python
python=/bin/false
# Ignore scripts to prevent any post-install scripts that might require Python
ignore-scripts=true
# Use npm's built-in package-lock.json
package-lock=true
# Use npm's built-in cache
cache-min=9999999
prefer-offline=true
